[Unit]
Description=Gatekeeper - A DHCP+DNS server for home gateway
Requires=network.target
Wants=nss-lookup.target
Before=nss-lookup.target
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
TimeoutSec=10s
WatchdogSec=10s
Restart=always
RestartSec=100ms
RestartSteps=5
RestartMaxDelaySec=60
ExecStart=/opt/gatekeeper/gatekeeper
WorkingDirectory=/opt/gatekeeper/

[Install]
WantedBy=multi-user.target
