@keyframes bg-day-keyframes {
  0% {
    background-position: bottom left 0, bottom center, bottom left 0, bottom center, bottom center, 0 0;
  }

  100% {
    background-position: bottom left calc(384px * 4), bottom center, bottom left calc(384px * 2), bottom center, bottom center, calc(480px * 4) 0;
  }
}

@font-face {
  font-family: 'Texturina';
  src: url('/Texturina-VariableFont_opsz,wght.ttf') format('truetype-variations');
  ascent-override: 90%;
}

html {
  text-size-adjust: 100%;
  min-height: 100vh;
}

code,
pre,
html {
  font-family: 'Texturina', system-ui, sans-serif;
  overflow-wrap: anywhere;
}

h1 {
  font-weight: 800;
}

h1,
.options {
  display: inline-block;
  margin: 0 1em;
}

header {
  background: url('/header_day.png') repeat, linear-gradient(to top, #fffee5, #ffd962);
  text-align: left;
  padding: .5em 0 .3em;
  display: inline-flex;
  flex-flow: row;
  justify-content: start;
  align-items: baseline;
  border-bottom: 1px solid #ca9f1e;
}

header a {
  color: inherit;
  text-decoration: none;
}

.github {
  position: fixed;
  top: 0px;
  right: 0px;
}

.github img {
  transform: translate(10px, -10px);
  transition: transform 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.github:hover img {
  transform: translate(0px, 0px);
}

body {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  background: url('/bg_day_6.png') repeat-x, url('/bg_day_5.png') no-repeat, url('/bg_day_4.png') repeat-x, url('/bg_day_3.png') repeat-x, url('/bg_day_2.png') repeat-x, url('/bg_day_1.png') repeat-x, linear-gradient(to bottom, #93e3e4 272px, #cfe8ff);
  animation: bg-day-keyframes 240s linear infinite;
  padding-top: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  flex-grow: 1;
}

table {
  --bg-bright2: #ffdcc8;
  --bg-bright: #e0c8bb;
  --bg-dark: #b39e99;
  --bg-cell: #fff;
  text-align: left;
  border: 1px outset var(--bg-bright);
  background: var(--bg-dark);
  background: linear-gradient(to bottom, var(--bg-dark), var(--bg-bright));
  margin: .5em;
  border-radius: 9px;
}

tr.round-top>*:first-child {
  border-top-left-radius: 7px;
}

tr.round-top>*:last-child {
  border-top-right-radius: 7px;
}

tr.round-bottom>*:first-child {
  border-bottom-left-radius: 7px;
}

tr.round-bottom>*:last-child {
  border-bottom-right-radius: 7px;
}

tbody>tr>td {
  border: 1px inset var(--bg-bright);
  background: var(--bg-cell);
}

th {
  border: 2px groove var(--bg-bright);
  text-shadow: 1px 1px 0 var(--bg-bright);
}

tfoot>tr>td {
  border: 2px groove var(--bg-bright2);
  text-shadow: 1px 1px 0 var(--bg-bright2);
}

td,
th {
  padding: 0.5rem;
}

pre {
  margin: 0;
}

table>caption {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: 800;
  position: relative;
}

table>caption::before,
table>caption::after {
  position: absolute;
  bottom: calc(-7px);
  filter: saturate(150%) brightness(120%);
}

table>caption::before {
  transform: translateX(-100%);
  left: calc(50% - 3em);
}

table>caption::after {
  left: calc(50% + 3em);
}

#config>caption::before {
  content: url('/config_l.png');
}

#config>caption::after {
  content: url('/config_r.png');
}

#devices>caption::before {
  content: url('/devices_l.png');
}

#devices>caption::after {
  content: url('/devices_r.png');
}

#logs>caption::before {
  content: url('/logs.png');
}

#dhcp>caption::before {
  content: url('/dhcp_l.png');
}

#dhcp>caption::after {
  content: url('/dhcp_r.png');
}

#dns>caption::before {
  content: url('/dns.png');
}

.dns-question,
.dns-record {
  padding: .1em .5em;
  border-radius: .5em;
  display: inline-block;

}

.dns-question {
  background: #ede9ff;
  border: 1px solid #c1afff;
}

.dns-record {
  border: 1px solid rgb(147, 240, 147);
  background: rgb(225, 255, 225);
}

a {
  color: #1341cb;
}

a.arrow {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  @keyframes bg-dark-keyframes {
    0% {
      background-position: bottom 0 left 0, bottom left, top 0 left 10%, top left, 0 0;
    }

    100% {
      background-position: bottom 0 left -320px, bottom left, top 0 left 10%, top left, 0 0;
    }
  }

  header {
    /* background: url('/header_night.webp') repeat, linear-gradient(to top, #fffee5, #ffd962); */
    background: url('/header_night.webp') repeat, linear-gradient(to top, #152039, #154271);
    border-bottom-color: #154271;
    color: white;
    text-shadow: 2px 2px 0 #152039;
  }

  main {
    background: url('/bg_night_3.png') repeat-x bottom left,
      url('/bg_night_2.png') repeat-x bottom left,
      url('/bg_night_1.png') no-repeat top left,
      url('/bg_night_1_repeat.png') repeat-x top left,
      linear-gradient(to bottom, #152039, #154271 180px, #191621);
    color: white;
    animation: bg-dark-keyframes 60s linear infinite;
  }

  table {
    --bg-bright2: #226297;
    --bg-bright: #192d4c;
    --bg-dark: #10111c;
    --bg-cell: radial-gradient(closest-corner, #c06228, #71300d);
  }

  th {
    border-color: var(--bg-dark);
    text-shadow: 1px 1px 0 var(--bg-bright);
  }

  tfoot>tr>td {
    border-color: var(--bg-bright);
    text-shadow: 1px 1px 0 var(--bg-dark);
  }

  table>caption {
    filter: drop-shadow(1px 2px 0 black);
  }

  table>caption::before,
  table>caption::after {
    filter: none;
  }

  .dns-question {
    background: #362e5c;
    border: 1px solid #c1afff;

  }

  a {
    color: #bdc7ff;
  }
}